---
layout: default
---

<div style="text-align: center; color: #00ff00; margin-bottom: 30px;">
<pre>
███╗   ██╗██╗   ██╗██╗  ██╗███████╗██╗   ██╗███╗   ██╗██████╗ 
████╗  ██║╚██╗ ██╔╝╚██╗██╔╝██╔════╝╚██╗ ██╔╝████╗  ██║╚════██╗
██╔██╗ ██║ ╚████╔╝  ╚███╔╝ ███████╗ ╚████╔╝ ██╔██╗ ██║ █████╔╝
██║╚██╗██║  ╚██╔╝   ██╔██╗ ╚════██║  ╚██╔╝  ██║╚██╗██║ ╚═══██╗
██║ ╚████║   ██║   ██╔╝ ██╗███████║   ██║   ██║ ╚████║██████╔╝
╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝╚══════╝   ╚═╝   ╚═╝  ╚═══╝╚═════╝ 
                                                              
</pre>
</div>

<div class="mi-contenido-especial">
  {{ content }}
</div>