---
layout: default
---

<div class="ascii-banner">
<pre>
███╗   ██╗██╗   ██╗██╗  ██╗███████╗██╗   ██╗███╗   ██╗██████╗ 
████╗  ██║╚██╗ ██╔╝╚██╗██╔╝██╔════╝╚██╗ ██╔╝████╗  ██║╚════██╗
██╔██╗ ██║ ╚████╔╝  ╚███╔╝ ███████╗ ╚████╔╝ ██╔██╗ ██║ █████╔╝
██║╚██╗██║  ╚██╔╝   ██╔██╗ ╚════██║  ╚██╔╝  ██║╚██╗██║ ╚═══██╗
██║ ╚████║   ██║   ██╔╝ ██╗███████║   ██║   ██║ ╚████║██████╔╝
╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝╚══════╝   ╚═╝   ╚═╝  ╚═══╝╚═════╝       
</pre>
</div>

<div class="mi-contenido-especial">
  {{ content }}
</div>